@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;800;900&family=Pirata+One&family=UnifrakturMaguntia&family=Press+Start+2P&display=swap');
@import "tailwindcss";

/* Regla para imagenes pixel art */
.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

body {
  font-family: 'Cinzel', serif;
  background-color: #0d080a;
  background-image: radial-gradient(#3a0d18 1px, transparent 1px), radial-gradient(#1f050b 1px, #0d080a 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  color: #1a0508;
}

.gothic-title {
  font-family: 'UnifrakturMaguntia', 'Pirata One', cursive;
}

.gothic-font {
  font-family: 'Pirata One', cursive;
}

.pixel-font {
  font-family: 'Press Start 2P', monospace;
}