@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&display=swap');

/* Regla de oro para imágenes pixel art */
.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

body {
  font-family: 'Silkscreen', cursive, sans-serif;
  background-color: #e6edd3;
  color: #3b4226; /* Verde oscuro para el texto */
}

h1, h2, .retro-btn {
  font-family: 'Press Start 2P', cursive;
}